# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test artifacts and coverage
*.test
*.out
coverage.html

# Workspaces & runtime templates
tmp/
workspaces/
rootfs/*/dev/
rootfs/*/proc/
rootfs/*/sys/

# IDE and Editor files
.idea/
.vscode/
*.swp
*~

# OS specific
.DS_Store
Thumbs.db
